h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 24pt;
    margin-bottom: 10px;
}

h2{
    font-weight: bolder;
    font-size: 24pt;
    margin-bottom: 25px;
}

h3{
    padding: 10px;
}

p{
    font-family: 'Open Sans', sans-serif;
}

header{
    margin-top: 50px;
    margin-bottom: 20px;
}

body{
    background-image: url("assets/bckgrnd.png")
}

main{
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

nav{
    margin-bottom: 40px;
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav img{
    padding:10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

article{
    color: #FFFFFF;
    font-size: 20pt;
    padding: 10px;
    background-color: #969696;
    opacity: 0.6;
}

#arrow{
    padding-left: 5px;
}

#selfie {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #2c5fa8;
    border-radius:75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#samples{
    padding: 15px;
    border-top: 1px solid rgb(109, 68, 68);
    border-bottom: 1px solid white;
    align-content: center;
}

.sample{
    padding: 20px;
    display: inline-block;
    margin: 0 auto;
    z-index: -1; position:relative;
    opacity: 1;
    height: 200px;
}

footer {
    padding: 5px;
    background: #969696; 
}

footer p, footer h3 {
    color: #FFFFFF;
}

footer p {
    text-align: center;
    font-size: 12px;
}

@media only screen and (min-width: 600px){

#selfie{
    position: absolute;
    top: 50vh;
    right: 20px;
    z-index: 1000;
}

#sample{
    display: inline-block;
    padding :25px;
}

main{
    margin-right: 800px;
}

nav{
    margin-left: 10px;
    margin-bottom: 50px;
    text-align: left;
}

}

